src/application/*.js
src/application/*.js.map
src/application/**/*.js
src/application/**/*.js.map
src/*.js

src/e2e-test/*.js
src/e2e-test/*.js.map
src/e2e-test/**/*.js
src/e2e-test/**/*.js.map

build
node_modules
src/vendor
.idea
