$font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  margin: 0;
  font-size: 14px;
}

footer {
  text-align: center;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
